{% extends "dashboard/base.html" %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-settings').addClass('active');
    })
</script>
{% endblock %}


{% block contentpage %}
<div class="well well-sm">
    <h3>Application Settings</h3>
</div><br/>
<ul class="nav nav-tabs">
  <li role="presentation" id="tab-goals" class="active"><a href="{% url 'change-pwd' %}"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Change Password</a></li>
</ul>
<br/>
<div style="min-height:500px">
  <div class="panel panel-default">
      <div class="panel-heading">Change Login Password</div>
         <div class="panel-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Save Changes</button>
            </form>
         </div>
      </div>
  </div>
{% endblock %}
