{% extends "dashboard/home.html" %}
{% load custom_tags %}

{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-dashboard').addClass('active');
        $('#tab-goals').addClass('active');
    })
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% block stat%}
            <span style="padding-left:10px"><span class="badge">{{ goals|length }}</span> goals</span>
            {% endblock %}
            <div class="pull-right">
                {% block navigation %}
                    <a class="btn btn-default" role="button" href="{% url 'goal-create' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Goal</a>
                {% endblock %}
            </div>
        </div>
    </div>
    <hr/>
    {% block subcontent %}
        {% for goal in goals %}
            {% ifchanged %}<h2>{{ goal.goal_category }}</h2>{% endifchanged %}
                <div class="panel panel-default" style="word-wrap: break-word;">
                  <div class="panel-body">
                    <h3 class="text-primary">{{ goal.goal_slug }} {% if goal.goal_desc %}<small>{{ goal.goal_desc }}</small>{% endif %}</h3>
                    <p>{% if goal.goal_weight %}<b>{{ goal.goal_weight|multiply:4 }} hours</b> planned to be spent per day.&nbsp;{% endif %}
                       {% if not goal.goal_status %} Expected Completion <span class="text-info">{{ goal.goal_target }}</span>
                       {% else %} Achieved <span class="glyphicon glyphicon-ok-sign" style="color:green"></span> {% endif %}
                    <span class="pull-right"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Last Updated
                        <span class="text-muted">{{ goal.goal_updated|timesince }} ago</span></span></p>
                    <p>{% if goal.goal_notes %} Notes <span class="text-info">{{ goal.goal_notes }}</span>{% endif %}
                        <span class="pull-right">
                            <a class="btn btn-default" role="button" href="{% url 'tasks-list' goal.goal_slug %}">
                              <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Tasks</a>&nbsp;
                            <a class="btn btn-default" role="button" href="{% url 'goal-update' goal.goal_id %}">
                              <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Update</a>&nbsp;
                    <a class="btn btn-default" role="button" href="{% url 'goal-remove' goal.goal_id %}">
                              <span class="glyphicon glyphicon-remove"></span>&nbsp;
                        <span class="text-danger">Remove</span></a>&nbsp;</span></p>
                  </div>
                </div>
            <br/>
        {% empty %}
            No goals yet.
        {% endfor %}
    {% endblock %}
{% endblock %}