{% extends "dashboard/goals_list.html" %}

{% block stat %}
<span style="padding-left:10px"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Remove Goal</span>
{% endblock %}

{% block navigation %}
    <a class="btn btn-default" role="button" href="{% url 'goals-list' %}">
        <span class="glyphicon glyphicon-triangle-left"></span>&nbsp;&nbsp;Back to Goals</a>
{% endblock %}

{% block subcontent %}
    <div class="panel panel-default">
      <div class="panel-heading">Remove Goal</div>
      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input {% if not user.is_superuser %}disabled{% endif %} type="submit" value="Confirm" />
        </form>
      </div>
    </div>
{% endblock %}
