{% extends "dashboard/base.html" %}

{% block contentpage %}
  <div class="well well-sm">
    <h3>Set Goals. Log Activity. Experience Reports.</h3>
  </div><br/>
  <ul class="nav nav-tabs">
      <li role="presentation" id="tab-goals"><a href="{% url 'goals-list' %}"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;Short Term Goals</a></li>
      <li role="presentation" id="tab-activities"><a href="{% url 'activities-list' %}"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Daily Activities</a></li>
      <li role="presentation" id="tab-status"><a href="#"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Reports</a></li>
  </ul>
  <br/>
  <div style="min-height:500px">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
