{% extends "dashboard/base.html" %}

{% block contentpage %}
  <ul class="nav nav-tabs">
      <li role="presentation" id="tab-today"><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Today's</a></li>
      <li role="presentation" id="tab-goals"><a href="{% url 'goals-list' %}"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;Short Term Goals</a></li>
      <li role="presentation" id="tab-activities"><a href="{% url 'activities-list' %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Daily Activities</a></li>
      <li role="presentation" id="tab-reports"><a href="{% url 'reports-home' %}"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;Reports</a></li>
  </ul>
  <br/>
  <div style="min-height:500px">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
