{% extends "dashboard/goals_list.html" %}
{% load custom_tags %}

{% block extrascript %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">

<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#tab-dashboard').addClass('active');
        $('#tab-goals').addClass('active');
        $('#tasksTable').DataTable();
    })
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% block stat %}
            <span style="padding-left:10px"><span class="badge">{{ tasks|length }}</span> tasks for <strong>{{ goal }}</strong></span>
            {% endblock %}
            <div class="pull-right">
                {% block navigation %}
                <a class="btn btn-default" role="button" href="{% url 'goals-list' %}">
                    <span class="glyphicon glyphicon-triangle-left"></span>&nbsp;&nbsp;Back to Goals</a>
                <a class="btn btn-default" role="button" href="{% url 'tasks-create' goal %}">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Task</a>
                {% endblock %}
            </div>
        </div>
    </div>
    <hr/>
    {% block subcontent %}
        <div style="padding-bottom:10%">
            {% if tasks %}
                <table id="tasksTable" class="table table-hover">
                    <thead><tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Details</th>
                        <th>Completed On</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr></thead>
                    <tbody>
                {% for task in tasks %}
                    <tr>
                        <td style="width:10%">
                            <a href="#" data-toggle="tooltip" title="Created on {{ task.task_created_on|date:'M d, Y' }} by {{ task.task_user }}">
                            {{ task.task_target_date|date:"M d, Y" }}</a></td>
                        <td style="width:25%">{{ task.task_subject }}</td>
                        <td style="width:45%;word-wrap:break-word;">{{ task.task_details }}</td>
                        <td style="width:12%"> {% if task.task_completion_date %}{{ task.task_completion_date }}
                            {% else %}<b>-</b>{% endif %}</td>
                        <td style="width:4%"><a class="btn btn-default" role="button" href="{% ifequal user task.task_user %}
                        {% url 'task-edit' goal task.task_id %}{% else %}#{% endifequal %}">
                            <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td style="width:4%"><a class="btn btn-default" role="button" href="{% ifequal user task.task_user %}
                        {% url 'task-delete' goal task.task_id %}{% else %}#{% endifequal %}">
                            <span class="glyphicon glyphicon-trash" style="color:#d9534f"></span></a></td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'activities-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{% url 'activities-list' %}?page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            {% else %}
                No tasks added.
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
